<div class="container">
  <div class="chat-info">
    <div class="search-box">
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      <input type="text" class="search-input" placeholder="Search" />
    </div>
    <ul class="chat-main custom-scroll mt-3">
      <li class="info-item active">
        <div class="chat-box d-flex align-items-center">
          <div class="profile offline">
            <img
              src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=6&m=1223671392&s=170667a&w=0&h=zP3l7WJinOFaGb2i1F4g8IS2ylw0FlIaa6x3tP9sebU="
              alt="avatar"
            />
          </div>
          <div class="details">
            <p class="user-name">Quy Mike</p>
            <p class="content">Hello</p>
          </div>
          <div class="date-status">
            <p class="date">11/3/2023</p>
            <div class="badge badge-primary sm">8</div>
          </div>
        </div>
      </li>
      <li class="info-item">
        <div class="chat-box d-flex align-items-center">
          <div class="profile offline">
            <img
              src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=6&m=1223671392&s=170667a&w=0&h=zP3l7WJinOFaGb2i1F4g8IS2ylw0FlIaa6x3tP9sebU="
              alt="avatar"
            />
          </div>
          <div class="details">
            <p class="user-name">Quy Mike</p>
            <p class="content">Hello</p>
          </div>
          <div class="date-status">
            <p class="date">11/3/2023</p>
            <div class="badge badge-primary sm">8</div>
          </div>
        </div>
      </li>
      <li class="info-item">
        <div class="chat-box d-flex align-items-center">
          <div class="profile offline">
            <img
              src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=6&m=1223671392&s=170667a&w=0&h=zP3l7WJinOFaGb2i1F4g8IS2ylw0FlIaa6x3tP9sebU="
              alt="avatar"
            />
          </div>
          <div class="details">
            <p class="user-name">Quy Mike</p>
            <p class="content">Hello</p>
          </div>
          <div class="date-status">
            <p class="date">11/3/2023</p>
            <div class="badge badge-primary sm">8</div>
          </div>
        </div>
      </li>
      <li class="info-item">
        <div class="chat-box d-flex align-items-center">
          <div class="profile offline">
            <img
              src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=6&m=1223671392&s=170667a&w=0&h=zP3l7WJinOFaGb2i1F4g8IS2ylw0FlIaa6x3tP9sebU="
              alt="avatar"
            />
          </div>
          <div class="details">
            <p class="user-name">Quy Mike</p>
            <p class="content">Hello</p>
          </div>
          <div class="date-status">
            <p class="date">11/3/2023</p>
            <div class="badge badge-primary sm">8</div>
          </div>
        </div>
      </li>
      <li class="info-item">
        <div class="chat-box d-flex align-items-center">
          <div class="profile offline">
            <img
              src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=6&m=1223671392&s=170667a&w=0&h=zP3l7WJinOFaGb2i1F4g8IS2ylw0FlIaa6x3tP9sebU="
              alt="avatar"
            />
          </div>
          <div class="details">
            <p class="user-name">Quy Mike</p>
            <p class="content">Hello</p>
          </div>
          <div class="date-status">
            <p class="date">11/3/2023</p>
            <div class="badge badge-primary sm">8</div>
          </div>
        </div>
      </li>
      <li class="info-item">
        <div class="chat-box d-flex align-items-center">
          <div class="profile offline">
            <img
              src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=6&m=1223671392&s=170667a&w=0&h=zP3l7WJinOFaGb2i1F4g8IS2ylw0FlIaa6x3tP9sebU="
              alt="avatar"
            />
          </div>
          <div class="details">
            <p class="user-name">Quy Mike</p>
            <p class="content">Hello</p>
          </div>
          <div class="date-status">
            <p class="date">11/3/2023</p>
            <div class="badge badge-primary sm">8</div>
          </div>
        </div>
      </li>
      <li class="info-item">
        <div class="chat-box d-flex align-items-center">
          <div class="profile offline">
            <img
              src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=6&m=1223671392&s=170667a&w=0&h=zP3l7WJinOFaGb2i1F4g8IS2ylw0FlIaa6x3tP9sebU="
              alt="avatar"
            />
          </div>
          <div class="details">
            <p class="user-name">Quy Mike</p>
            <p class="content">Hello</p>
          </div>
          <div class="date-status">
            <p class="date">11/3/2023</p>
            <div class="badge badge-primary sm">8</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
