<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapse' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <img [src]="photoURL" alt="Avatar" class="avatar-img" />
    </button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">{{ displayName }}</div>
    <button
      class="btn-collapse"
      @rotate
      *ngIf="collapsed"
      (click)="closeSideNav()"
    >
      <fa-icon [icon]="closeIcon" class="collapse-icon"></fa-icon>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li
      class="sidenav-nav-item"
      *ngFor="let data of sideBarData; index as index"
    >
      <a
        class="sidenav-nav-link"
        *ngIf="data.items && data.items.length > 0"
        (click)="index === sideBarData.length ? logout() : handleClick(data)"
        [ngClass]="getActiveClass(data)"
        [ngClass]="{
          'is-closed-side-bar': !collapsed,
          active: index == selectedNavLinkId
        }"
      >
        <fa-icon
          *ngIf="data.icon"
          [icon]="data.icon"
          class="sidenav-link-icon"
        ></fa-icon>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          {{ data.label }}
        </span>
        <fa-icon
          *ngIf="data.items && collapsed"
          [icon]="data.expanded ? faChevronCircleDown : faChevronCircleRight"
          class="menu-collapse-icon"
        ></fa-icon>
      </a>
      <a
        class="sidenav-nav-link"
        *ngIf="
          (!data.items || (data.items && data.items.length === 0)) &&
            index !== 1 &&
            index !== this.sideBarData.length - 1;
          else navHasHref
        "
        (click)="handleClickNavLink(index)"
        href="javascript: void(0)"
        [ngClass]="{
          'is-closed-side-bar': !collapsed,
          'setting-absolute': index === sideBarData.length - 1,
          'logout-absolute': index === sideBarData.length - 2,
          active: index == selectedNavLinkId
        }"
      >
        <fa-icon
          *ngIf="data.icon"
          [icon]="data.icon"
          class="sidenav-link-icon"
        ></fa-icon>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          {{ data.label }}
        </span>
      </a>
      <ng-template #navHasHref>
        <a
          *ngIf="index !== 0"
          class="sidenav-nav-link"
          (click)="
            index == this.sideBarData.length - 1
              ? this.logout()
              : handleClickNavLink(index)
          "
          [routerLink]="
            index == this.sideBarData.length - 1
              ? ''
              : ['/dashboard', { outlets: { body: 'chat' } }]
          "
          [ngClass]="{
            'is-closed-side-bar': !collapsed,
            'setting-absolute': index === sideBarData.length - 1,
            active: index == selectedNavLinkId
          }"
        >
          <fa-icon
            *ngIf="data.icon"
            [icon]="data.icon"
            class="sidenav-link-icon"
          ></fa-icon>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
            {{ data.label }}
          </span>
        </a>
      </ng-template>
      <div *ngIf="collapsed && data.items && data.items.length > 0">
        <app-sub-level-menu
          [data]="data"
          [collapsed]="collapsed"
          [multiple]="multiple"
          [expanded]="data.expanded"
        ></app-sub-level-menu>
      </div>
    </li>
  </ul>
</div>
