<div class="container">
  <div class="search-box">
    <fa-icon [icon]="faIcon.faMagnifyingGlass"></fa-icon>
    <input
      type="text"
      class="search-input"
      placeholder="Search friends"
      [formControl]="searchControl"
    />
  </div>
  <div class="list-people d-flex justify-content-start flex-wrap">
    <div
      *ngFor="let friend of myFriends | async; let i = index"
      class="people-item"
    >
      <div class="avatar-img">
        <img [src]="friend.photoURL" alt="avatar" />
      </div>
      <div class="desc">
        <p class="people-name text-nowrap line-clamp line1">
          {{ friend.displayName }}
        </p>
        <div class="list-btn d-flex flex-column">
          <button
            type="button"
            class="accept-btn btn btn-primary"
            (click)="createChat(friend)"
          >
            Chat
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
