.body {
    display: flex;
    width: calc(100% - 5rem);
    height: 100vh;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 2.5rem 1.5rem;
}

.body-trimmed {
    width: calc(100% - 15rem);
    margin-left: 15rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}


.body-container {
    width: 100%;
}

.notification-container {
    width: 25%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f4f7fa;
}

.side-body {
    width: 28%;
    position: absolute;
    display: none;
}

.side-body.visible {
    display: block;
}