.body {
    display: flex;
    width: calc(100% - 5rem);
    height: 100vh;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 2.5rem 1.5rem;
}

.body-trimmed {
    width: calc(100% - 15rem);
    margin-left: 15rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

.side-body-container {
    padding-right: 20px;
    width: 30%;
}

.body-container {
    width: 70%;
}