<div class="main-content">
  <div class="title-sticky">
    <div class="title-block">
      <h1 class="title">Notification</h1>
      <p>List of notification</p>
      <button class="btn-close" (click)="handleBtnCloseClick()"></button>
    </div>
  </div>
  <div class="notification-list custom-scroll">
    <div class="notification" *ngFor="let notification of notifications">
      <div class="avatar-block">
        <img
          src="{{ notification.senderAvatar }}"
          alt=""
          class="sender-avatar"
        />
      </div>
      <div class="notification-detail">
        <span class="time">{{ notification.receiveAt }}</span>
        <p class="sender">
          <fa-icon
            *ngIf="notification.groupChatName == ''"
            [icon]="faIcon.faUser"
            class="icon"
          ></fa-icon>
          {{ notification.senderName }}
        </p>
        <p class="room-name">
          <fa-icon
            *ngIf="notification.groupChatName != ''"
            [icon]="faIcon.faUsers"
            class="icon"
          ></fa-icon>
          {{ notification.groupChatName }}
        </p>
        <p class="content">{{ notification.content }}</p>
      </div>
    </div>
  </div>
</div>
