<div class="container">
  <div class="list-people d-flex justify-content-start flex-wrap">
    <!-- item1 -->
    <div
      *ngFor="let personData of allRequests | async; let i = index"
      class="people-item"
    >
      <div class="avatar-img">
        <img [src]="personData.photoURL" alt="avatar" />
      </div>
      <div class="desc">
        <p class="people-name text-nowrap line-clamp line1">
          {{ personData.displayName }}
        </p>
        <div class="list-btn d-flex flex-column">
          <button
            type="button"
            class="accept-btn btn btn-primary"
            (click)="acceptRequest(personData.email)"
          >
            Accept
          </button>
          <button
            type="button"
            class="delete-btn btn btn-secondary"
            (click)="deleteRequest(personData.email)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
