<div class="main-content">
    <div class="title-sticky">
        <div class="title-block">
            <h1 class="title">Notification</h1>
            <p>List of notification</p>
            <button class="btn-close" (click)="handleBtnCloseClick()"></button>
        </div>
    </div>
    <div class="notification-list custom-scroll">
        <div class="notification">
            <div class="avatar-block">
                <img
                    src="../../../../../assets/img/page-not-found/astronaut.svg"
                    alt=""
                    class="sender-avatar"
                />
            </div>
            <div class="notification-detail">
                <span class="time">Now</span>
                <p class="sender">Phan Văn Tài</p>
                <p class="room-name">
                    <fa-icon [icon]="faIcon.faUsers" class="icon"></fa-icon>
                    Nhóm học tập HTML, CSS, Javascript
                </p>
                <p class="content">
                    Xin chào mọi người, rất vui ...........................
                </p>
            </div>
        </div>
        <div class="notification">
            <div class="avatar-block">
                <img
                    src="../../../../../assets/img/page-not-found/astronaut.svg"
                    alt=""
                    class="sender-avatar"
                />
            </div>
            <div class="notification-detail">
                <span class="time">Now</span>
                <p class="room-name">
                    <fa-icon [icon]="faIcon.faUser" class="icon"></fa-icon> Phan
                    Văn Tài
                </p>
                <p class="content">Xin chào !!!</p>
            </div>
        </div>
        <div class="notification" *ngFor="let i of [].constructor(10)">
            <div class="avatar-block">
                <img
                    src="../../../../../assets/img/page-not-found/astronaut.svg"
                    alt=""
                    class="sender-avatar"
                />
            </div>
            <div class="notification-detail">
                <span class="time">1 day ago</span>
                <p class="room-name">
                    <fa-icon [icon]="faIcon.faUser" class="icon"></fa-icon> Phan
                    Văn Tài
                </p>
                <p class="content">Xin chào !!!</p>
            </div>
        </div>
    </div>
</div>
