<div class="mars">
    <img src="../../../assets/img/logo-404.svg" class="logo-404" />
    <img src="../../../assets/img/page-not-found/meteor.svg" class="meteor" />
    <img src="../../../assets/img/page-not-found/astronaut.svg" class="astronaut" />
    <img src="../../../assets/img/page-not-found/spaceship.svg" class="spaceship" />
    <p class="title">Oh no!!</p>
    <p class="subtitle">
        You're either misspelling the URL <br /> or requesting a page that's no longer here.
    </p>
    <div class="text-center">
        <a class="btn-back" (click) = "goBack()">Back to previous page</a>
    </div>
</div>