* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    background-color: #eef5fc;
}

body {
    font-size: 1rem;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.custom-scroll {
    scroll-behavior: smooth
}

.custom-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #eff1f2
}

.custom-scroll::-webkit-scrollbar {
    width: 5px
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #43475180
}

.badge {
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: .5px;
    padding: 3px 10px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
}

.badge-primary {
    background-color: #1c9dea !important;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-1 {
    --line-clamp: 1;
}

/* Loại bỏ vùng chọn trên ảnh */
.ngx-ic-cropper {
    display: none !important;
}