.search-box {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff;
    overflow: hidden;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 8%;
}

.search-box:hover,
.search-box:focus-within {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.search-input {
    width: 110%;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.list-people {
    gap: 10px;
    padding-bottom: 20px;
}

.people-item {
    background: #adb3b8;
    width: 12rem;
    border: 1px solid #adb3b8;
    border-radius: 5px;
    overflow: hidden;
}

.people-item .avatar-img img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border: 3px solid #ffffff;
}

.people-item .desc {
    background-color: #adb3b8;
    padding: 10px 10px;
}

.people-item .desc .people-name {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.75;
    color: #000000;
    margin-bottom: 0;
    text-overflow: ellipsis;
}

.list-btn {
    gap: 5px;
}