.image {
    position: relative;
}

img {
    width: 120px;
    height: 100%;
    object-fit: cover;
    margin-right: 8px;
}

.btn-x {
    position: absolute;
    right: 12px;
    top: 6px;
    color: black;
    background: white;
    border-radius: 50%;
    padding: 0px 6px;
}