/* chat info */
.chat-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    scroll-behavior: smooth;
    width: 35%;
}

.chat-info .search-box {
    display: flex;
    align-items: center;
    width: 80%;
    border-radius: 20px;
    background-color: #ffffff;
    overflow: hidden;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.chat-info .search-box:hover,
.chat-info .search-box:focus-within {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.chat-info .search-input {
    width: 110%;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.create-chat-group {
    margin: auto;
}

.btn-create-chat {
    background-color: #28aca8;
    border-radius: 50%;
    font-size: 20px;
}

.chat-main {
    display: flex;
    flex-direction: column;
    margin-right: -20px;
    padding-right: 40px;
    height: 82vh;
    overflow-y: auto;
}

.chat-main .info-item {
    position: relative;
    margin-left: -30px;
    margin-right: -40px;
    padding: 10px 20px;
    transition: all .3s ease;
}

.chat-main .info-item:hover::before,
.chat-main .info-item:focus-within::before,
.chat-main .info-item.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: #1c9dea;
    transition: all .3s ease;
}

.chat-main .info-item.active {
    background-color: #eff7fe;
}

.chat-main .info-item .chat-box {
    position: relative;
}

.chat-main .info-item .chat-box .profile {
    position: absolute;
    left: 0;
}

.chat-main .info-item .chat-box .details {
    padding: 12px 50px 13px 75px;
}

.profile img {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 20px;
    position: relative;
}

.details .user-name {
    font-weight: 500;
    width: 10em;
    font-size: 1rem;
    line-height: 1.75;
    color: #10375c;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.date-status .date,
.details .content {
    font-size: 1rem;
    width: 10em;
    line-height: 1.86;
    color: #a9b3bb;
    white-space: nowrap;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.details h6 {
    padding-top: 8px;
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.chat-main .info-item .chat-box .date-status {
    position: absolute;
    right: 0;
    top: 10px;
    text-align: right;
}

.group-box .date-status .sm {
    font-weight: 600;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    padding: 0 6px;
    font-size: 12px;
    margin-top: 6px
}

/* chat content */

.main-chat-content {
    display: flex;
    gap: 3%;
    height: 105%;
}

.chat-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ffffff;
}

.chat-content .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 20px;
}

.chat-content .header::after {
    display: inline-block;
    position: absolute;
    content: "";
    left: 10px;
    right: 25px;
    bottom: 0;
    height: 2px;
    background: #e2dfda;
    border-radius: 1px;
}

.chat-content .user-info {
    display: flex;
    align-items: center;
}

.chat-content .header .avatar {
    display: flex;
    position: relative;
    margin-right: 15px;
}

.chat-content .avatar .status-circle {
    position: absolute;
    bottom: 0;
    right: 5px;
    color: #28ac2d;
}

.chat-content .avatar .status-circle i {
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.chat-content .header img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffffff;
}

.chat-content .header .list-btn {
    display: flex;
    align-items: center;
}

.chat-content .header .btn-item {
    outline: none;
    border: none;
    font-size: 15px;
    padding: 20px 20px;
    background-color: #ffffff;
    border-radius: 50%;
}

.chat-content .header .btn-item:hover {
    background-color: #f6f6f6;
    cursor: pointer;
}

.chat-content .header .list-btn .dropdown-menu {
    display: none;
    position: absolute;
    top: 65%;
}

.chat-content .header .list-btn .list-opt {
    list-style: none;
    padding: 0;
    margin: auto;
}

.chat-content .header .list-btn .list-opt button {
    display: flex;
    align-items: center;
    padding: .625rem 1.25rem;
    font-size: 12px;
    font-weight: 500;
    color: #526484;
    transition: all .4s;
    line-height: 1.3rem;
    position: relative;
}

.chat-content .user-info .user-name {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #10375c;
    margin-bottom: 0;
}

.chat-message {
    position: relative;
    height: 75%;
    overflow-y: auto;
}

.chat-message> :first-child {
    margin-top: auto;
}

.chat-bubble-container {
    align-items: start;
}

.chat-bubble-container.sender {
    align-items: end;
}

.chat-bubble {
    position: relative;
    background: #f0f0f0;
    color: #050505;
    padding: 8px 8px 18px 90px;
    margin-bottom: 16px;
    margin-left: 20px;
    border-radius: 8px;
    width: fit-content;
    max-width: 60%;
}

.chat-bubble.sender {
    color: #ffffff;
    background: #0a7cff;
}

.chat-message .chat-date {
    position: absolute;
    bottom: 2px;
    right: 8px;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.6);
}

.chat-message .chat-date.sender {
    color: #ffffff;
}

.chat-message .avatar-name {
    gap: 10px;
    margin: 15px 0 10px;
}

.chat-message .avatar-name.sender {
    flex-direction: row-reverse;
}

.chat-message .avatar-name .avatar img {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 20px;
}

.chat-message .avatar-name .name {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75;
    color: #10375c;
    margin-bottom: 0;
}

.chat-input {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 10px 0 5px;
    padding: 0 15px;
}

.chat-input .input-content-block {
    margin: 0 10px -5px;
    flex-grow: 1;
    align-self: stretch;
}

.chat-input .input-content-block .thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 235px;
    overflow: auto;
}

.chat-input .input-content {
    width: 100%;
    min-height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    background: #f4f4f4;
    margin-top: 8px;
    padding: 0 15px;
}

.chat-input button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #1c9dea26 !important;
    color: #1c9dea;
}

.chat-input button:hover {
    background: #1c9dea40 !important;
}

.chat-input .input-icon {
    font-size: 20px;
}

.chat-input button:last-child {
    margin-left: 10px;
}

.chat-input .btn-upload .input-icon {
    margin-left: 0;
}

/* Dialog upload */
.upload-dialog {
    position: absolute;
    padding: 30px;
    background-color: #ece9e9;
    left: 3px;
    bottom: 52px;
}

.upload-dialog .upload-types {
    padding-left: 0;
}

.upload-dialog .upload-types a {
    color: #050505;
}

.upload-dialog .upload-types a:hover {
    color: #1c9dea;
}

.upload-dialog .upload-types .type {
    margin-bottom: 15px;
}

.upload-dialog .upload-types .type:last-child {
    margin-bottom: 0;
}

.upload-dialog .upload-types .type .icon {
    margin-right: 5px;
}

.upload-dialog::after {
    content: "";
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #ece9e9;
    bottom: -12px;
    left: 20px;
    z-index: 1;
}

.modal-body .member-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffffff;
}

.chat-message .chat-bubble .message-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}