<!-- main chat content -->
<div class="main-chat-content">
  <!-- chat info -->
  <div class="chat-info">
    <div class="search-box">
      <fa-icon [icon]="faIcon.faMagnifyingGlass"></fa-icon>
      <input
        type="text"
        class="search-input"
        placeholder="Search"
        [formControl]="searchControl"
      />
    </div>
    <ul
      class="chat-main custom-scroll mt-3"
      [style.visibility]="isShowChatSidebar ? 'visible' : 'hidden'"
    >
      <li
        *ngFor="let chat of myChats | async"
        [value]="chat.id"
        class="info-item"
        [ngClass]="{ active: selectedChatId === chat.id }"
        (click)="selectChat(chat)"
      >
        <div class="chat-box d-flex align-items-center">
          <div class="profile offline">
            <img [src]="chat.chatAvatar" alt="avatar" />
          </div>
          <div class="details">
            <p class="user-name text-nowrap line-clamp line1">
              {{ chat.chatName }}
            </p>
            <p class="content text-nowrap line-clamp line1">
              {{ chat.lastMessage }}
            </p>
          </div>
          <div class="date-status">
            <p class="date text-nowrap line-clamp line1">
              {{ chat.lastMessageDate | dateDisplay }}
            </p>
            <div class="badge badge-primary sm">8</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="chat-content">
    <ng-container *ngIf="selectedChat | async as selectedChat; else noChat">
      <div class="header">
        <div class="user-info">
          <div class="avatar">
            <img [src]="selectedChat.chatAvatar" alt="avatar" />
            <div class="status-circle">
              <fa-icon [icon]="faIcon.faCircle"></fa-icon>
            </div>
          </div>
          <div class="info">
            <p class="user-name">{{ selectedChat.chatName }}</p>
            <p class="desc">Online - Last seen, 2:02pm</p>
          </div>
        </div>
        <div class="list-btn">
          <button class="btn-item">
            <fa-icon [icon]="faIcon.faPhone"></fa-icon>
          </button>
          <button class="btn-item">
            <fa-icon [icon]="faIcon.faVideo"></fa-icon>
          </button>
          <button class="btn-item">
            <fa-icon [icon]="faIcon.faEllipsisVertical"></fa-icon>
          </button>
        </div>
      </div>
      <div class="chat-message custom-scroll d-flex flex-column">
        <ng-container *ngIf="currentUser | async as currentUser">
          <div
            *ngFor="let message of messages | async"
            class="chat-bubble-container d-flex w-100"
            [ngClass]="{ sender: message.senderId === currentUser.uid }"
          >
            <div
              class="chat-bubble text-break"
              [ngClass]="{ sender: message.senderId === currentUser.uid }"
            >
              {{ message.text }}
              <span
                class="chat-date text-break"
                [ngClass]="{ sender: message.senderId === currentUser.uid }"
              >
                {{ message.sentDate | dateDisplay }}
              </span>
            </div>
          </div>
          <div *ngFor="let i of [].constructor(10); index as index">
            <p>
              <b>{{ index }}</b>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias,
              magnam at omnis libero amet odit voluptate nulla minus
              reprehenderit fugit.
            </p>
          </div>
          <div #endOfChat></div>
        </ng-container>
      </div>

      <div class="chat-input">
        <button
          class="btn-upload"
          (click)="this.isShowUploadDialog = !this.isShowUploadDialog"
        >
          <fa-icon [icon]="faIcon.faPlus" class="input-icon"></fa-icon>
        </button>
        <div class="input-content-block">
          <div class="thumbnails custom-scroll">
            <div *ngFor="let image of images; index as index">
              <app-thumbnail-upload
                [image]="image.base64"
                [index]="index"
                (removeImage)="removeImage($event)"
              ></app-thumbnail-upload>
            </div>
          </div>

          <textarea
            #inputContent
            class="input-content custom-scroll"
            placeholder="Type your message here"
            rows="{{ currentRows }}"
            [formControl]="messageControl"
            (keydown.enter)="sendMessage()"
            (keydown)="onKeyDown($event)"
            [(ngModel)]="textareaContent"
          ></textarea>

          <!-- Upload dialog này chỉ hiển thị khi click vào nút + -->
          <div class="upload-dialog" *ngIf="isShowUploadDialog">
            <ul class="upload-types">
              <li class="type" (click)="uploadImages()">
                <a href="javascript: void(0)">
                  <fa-icon class="icon" [icon]="faIcon.faImage"></fa-icon>
                  Gallery
                </a>
              </li>
              <li class="type">
                <a href="javascript: void(0)">
                  <fa-icon [icon]="faIcon.faPaperclip" class="icon"></fa-icon>
                  Attach
                </a>
              </li>
              <li class="type">
                <a href="javascript: void(0)">
                  <fa-icon [icon]="faIcon.faCamera" class="icon"></fa-icon>
                  Camera
                </a>
              </li>
            </ul>
            <input
              class="d-none"
              #fileInput
              multiple
              type="file"
              (change)="onFileSelected($event)"
            />
          </div>
        </div>
        <button>
          <fa-icon [icon]="faIcon.faRecord" class="input-icon"></fa-icon>
        </button>
        <button (click)="sendMessage()">
          <fa-icon [icon]="faIcon.faPaperPlane" class="input-icon"></fa-icon>
        </button>
      </div>
    </ng-container>
    <ng-template #noChat>
      <div class="m-auto">
        <h2 class="text-center">Select to open the chat</h2>
      </div>
    </ng-template>
  </div>
</div>
