<!-- main chat content -->
<div class="main-chat-content">
  <!-- chat info -->
  <div class="chat-info">
    <div class="search-create d-flex">
      <div class="search-box">
        <fa-icon [icon]="faIcon.faMagnifyingGlass"></fa-icon>
        <input
          type="text"
          class="search-input"
          placeholder="Search"
          [formControl]="searchControl"
        />
      </div>
      <div class="create-chat-group">
        <button
          class="btn btn-success btn-create-chat"
          placement="top"
          ngbTooltip="Create new group chat"
          (click)="openCreateChatGroupModal()"
        >
          <fa-icon [icon]="faIcon.faPlus"></fa-icon>
        </button>
      </div>
    </div>
    <ul
      class="chat-main custom-scroll mt-3"
      [style.visibility]="isShowChatSidebar ? 'visible' : 'hidden'"
    >
      <li
        *ngFor="let chat of myChats | async"
        [value]="chat.id"
        class="info-item"
        [ngClass]="{ active: selectedChatId === chat.id }"
        (click)="selectChat(chat)"
      >
        <div class="chat-box d-flex align-items-center">
          <div class="profile offline">
            <img [src]="chat.chatAvatar" alt="avatar" />
          </div>
          <div class="details">
            <p class="user-name text-nowrap line-clamp line1">
              {{ chat.chatName ?? chat.groupChatName }}
            </p>
            <p class="content line-clamp line1">
              <span *ngIf="chat?.fromUser">
                {{
                  chat.fromUser.userId === this.currentUserId
                    ? "You"
                    : chat.fromUser.displayName
                }}
              </span>
              {{ chat.lastMessage }}
            </p>
          </div>
          <div class="date-status">
            <p class="date text-nowrap line-clamp line1">
              {{ chat.lastMessageDate | dateDisplay }}
            </p>
            <div class="badge badge-primary sm">&nbsp;</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="chat-content">
    <ng-container *ngIf="selectedChat | async as selectedChat; else noChat">
      <div class="header">
        <div class="user-info">
          <div class="avatar">
            <img [src]="selectedChat.chatAvatar" alt="avatar" />
            <div class="status-circle">
              <fa-icon [icon]="faIcon.faCircle"></fa-icon>
            </div>
          </div>
          <div class="info">
            <p class="user-name">
              {{ selectedChat.chatName ?? selectedChat.groupChatName }}
            </p>
            <p class="desc">Online - Last seen, 2:02pm</p>
          </div>
        </div>
        <div class="list-btn">
          <button class="btn-item">
            <fa-icon [icon]="faIcon.faPhone"></fa-icon>
          </button>
          <button class="btn-item">
            <fa-icon [icon]="faIcon.faVideo"></fa-icon>
          </button>
          <button
            class="btn-item"
            [ngbPopover]="popContent"
            [popoverTitle]="popTitle"
          >
            <fa-icon [icon]="faIcon.faEllipsisVertical"></fa-icon>
          </button>
          <ng-template #popTitle>Menu</ng-template>
          <ng-template #popContent>
            <ul class="list-opt">
              <li *ngIf="isGroupChat" class="mb-1">
                <button
                  type="button"
                  class="btn btn-light"
                  (click)="openAddNewMemberModal()"
                >
                  <fa-icon [icon]="faIcon.faPlus"></fa-icon>&nbsp;&nbsp;Add
                  member
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="btn btn-light"
                  (click)="openDocumentModal()"
                >
                  <fa-icon [icon]="faIcon.faFile"></fa-icon
                  >&nbsp;&nbsp;Documents
                </button>
              </li>
            </ul>
          </ng-template>
        </div>
      </div>
      <div
        class="chat-message custom-scroll d-flex flex-column"
        infiniteScroll
        [infiniteScrollUpDistance]="2"
        [infiniteScrollThrottle]="1000"
        (scrolledUp)="onScrollUpMessage()"
        [scrollWindow]="false"
      >
        <ng-container *ngIf="currentUser | async as currentUser">
          <div
            *ngIf="!loadMessageFinished"
            class="d-flex justify-content-center"
          >
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div
            *ngFor="let message of messages | async"
            class="chat-bubble-container d-flex flex-column w-100"
            [ngClass]="{ sender: message.senderId === currentUser.uid }"
          >
            <div
              class="avatar-name d-flex justify-content-center align-items-center"
              [ngClass]="{ sender: message.senderId === currentUser.uid }"
            >
              <div class="avatar">
                <img [src]="message.avatar" alt="avatar" />
              </div>
              <p class="name">{{ message.displayName }}</p>
            </div>
            <div
              *ngIf="message.type === 'text'"
              class="chat-bubble text-break"
              [ngClass]="{ sender: message.senderId === currentUser.uid }"
            >
              <p [innerHTML]="message.text" class="message-text"></p>
              <span
                class="chat-date text-break"
                [ngClass]="{ sender: message.senderId === currentUser.uid }"
              >
                {{ message.sentDate | dateDisplay }}
              </span>
            </div>
            <div
              *ngIf="message.type === 'link'"
              class="chat-bubble text-break"
              [ngClass]="{ sender: message.senderId === currentUser.uid }"
            >
              <a
                href="{{ message.text }}"
                class="text-decoration-underline"
                [ngClass]="
                  message.senderId === currentUser.uid
                    ? 'text-white'
                    : 'text-dark'
                "
                target="_blank"
                rel="noopener noreferrer"
                >{{ message.text }}</a
              >
              <span
                class="chat-date text-break"
                [ngClass]="{ sender: message.senderId === currentUser.uid }"
              >
                {{ message.sentDate | dateDisplay }}
              </span>
            </div>
            <div
              *ngIf="message.type === 'file'"
              class="chat-bubble text-break"
              [ngClass]="{ sender: message.senderId === currentUser.uid }"
            >
              <div class="file-container d-flex flex-wrap">
                <app-file-upload
                  *ngFor="let file of message.dataFiles"
                  [fileName]="file.fileName"
                  [fileNameURL]="file.fileURL"
                  placement="top"
                  [ngbTooltip]="file.fileName"
                ></app-file-upload>
              </div>
              <span
                class="chat-date text-break"
                [ngClass]="{ sender: message.senderId === currentUser.uid }"
              >
                {{ message.sentDate | dateDisplay }}
              </span>
            </div>
            <div
              *ngIf="message.type === 'image'"
              class="chat-bubble text-break"
              [ngClass]="{ sender: message.senderId === currentUser.uid }"
            >
              <div class="file-container d-flex flex-wrap">
                <img
                  *ngFor="let image of message.dataFiles"
                  (click)="showModalImage(image.fileURL)"
                  [src]="image.fileURL"
                  class="message-image"
                  alt="image"
                />
              </div>
              <span
                class="chat-date text-break"
                [ngClass]="{ sender: message.senderId === currentUser.uid }"
              >
                {{ message.sentDate | dateDisplay }}
              </span>
            </div>
            <div
              *ngIf="message.type === 'audio'"
              class="chat-bubble text-break"
              [ngClass]="{ sender: message.senderId === currentUser.uid }"
            >
              <div class="w-100">
                <audio
                  *ngIf="message.text !== ''"
                  [src]="message.text"
                  controls
                ></audio>
              </div>
              <span
                class="chat-date text-break"
                [ngClass]="{ sender: message.senderId === currentUser.uid }"
              >
                {{ message.sentDate | dateDisplay }}
              </span>
            </div>
          </div>
          <div #endOfChat></div>
        </ng-container>
      </div>

      <div class="chat-input">
        <button
          class="btn-upload"
          (click)="this.isShowUploadDialog = !this.isShowUploadDialog"
        >
          <fa-icon [icon]="faIcon.faPlus" class="input-icon"></fa-icon>
        </button>
        <div class="input-content-block">
          <div class="thumbnails custom-scroll">
            <div *ngFor="let file of files; index as index">
              <app-file-upload
                [fileName]="file.fileName"
                [index]="index"
                [fileNameURL]="''"
                (removeFile)="removeFile($event)"
              ></app-file-upload>
            </div>
            <div *ngFor="let image of images; index as index">
              <app-thumbnail-upload
                [image]="image.base64"
                [index]="index"
                (removeImage)="removeImage($event)"
              ></app-thumbnail-upload>
            </div>
          </div>

          <textarea
            #inputContent
            class="input-content custom-scroll"
            placeholder="Type your message here"
            rows="{{ currentRows }}"
            [formControl]="messageControl"
            (keydown.enter)="sendMessage()"
            (keydown)="onKeyDown($event)"
            [(ngModel)]="textareaContent"
            (paste)="handlePaste($event)"
          ></textarea>

          <!-- Upload dialog này chỉ hiển thị khi click vào nút + -->
          <div class="upload-dialog" *ngIf="isShowUploadDialog">
            <ul class="upload-types">
              <li class="type" (click)="uploadImages()">
                <a href="javascript: void(0)">
                  <fa-icon class="icon" [icon]="faIcon.faImage"></fa-icon>
                  Gallery
                </a>
              </li>
              <li class="type" (click)="uploadFiles()">
                <a href="javascript: void(0)">
                  <fa-icon [icon]="faIcon.faPaperclip" class="icon"></fa-icon>
                  Attach
                </a>
              </li>
              <li class="type">
                <a href="javascript: void(0)">
                  <fa-icon [icon]="faIcon.faCamera" class="icon"></fa-icon>
                  Camera
                </a>
              </li>
            </ul>
            <input
              class="d-none"
              #fileInput
              multiple
              type="file"
              (change)="onFileSelected($event)"
            />
            <input
              class="d-none"
              #fileTransferInput
              multiple
              type="file"
              (change)="onFileTransferSelected($event)"
            />
          </div>
        </div>
        <button (click)="openAudioRecorderModal()">
          <fa-icon [icon]="faIcon.faRecord" class="input-icon"></fa-icon>
        </button>
        <button (click)="sendMessage()">
          <fa-icon [icon]="faIcon.faPaperPlane" class="input-icon"></fa-icon>
        </button>
      </div>
    </ng-container>
    <ng-template #noChat>
      <div class="m-auto">
        <h2 class="text-center">Select to open the chat</h2>
      </div>
    </ng-template>
  </div>
</div>
<!-- create chat group modal -->
<ng-template #create_chat_group let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Create new group chat</h4>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Type the name of the group you want to create</strong>
    </p>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Group name</span>
      <input
        [(ngModel)]="nameOfNewChatGroup"
        type="text"
        class="form-control"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="createNewChatGroup(modal)"
    >
      Ok
    </button>
  </div>
</ng-template>
<!-- add member modal -->
<ng-template #add_member let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Add member to this chat</h4>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Select new member you want to add</strong>
    </p>
    <form [formGroup]="selectedForm">
      <ng-select
        [items]="newMembersOfGroupChat | async"
        bindLabel="displayName"
        bindValue="uid"
        labelForId="state"
        [multiple]="true"
        placeholder="Select new members"
        clearAllText="Clear"
        formControlName="selectedMemberIds"
      >
        <ng-template ng-option-tmp let-item="item" let-index="index">
          <img
            [src]="item.photoURL"
            class="member-photo"
            *ngIf="item.photoURL"
          />
          {{ item.displayName }}
        </ng-template>
      </ng-select>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="addNewMembersToGroupChat(modal)"
    >
      Ok
    </button>
  </div>
</ng-template>
<!-- record modal -->
<ng-template #audio_recorder let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Record your voice</h4>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="record-container text-center">
      <div class="record d-inline-block">
        <button class="btn btn-light" (click)="toggleRecording()">
          <fa-icon [icon]="faIcon.faRecord"></fa-icon>
        </button>
        <div class="record-content mt-10">
          <p class="record-title">Record your voice</p>
          <p class="record-desc">Toggle to record</p>
          <audio
            class="w-100"
            *ngIf="audioURL !== ''"
            [src]="audioURL"
            controls
          ></audio>
        </div>
      </div>
      <div class="record-time">
        <p class="record-time-title">Recording time</p>
        <p class="record-time-content">{{ recordingTime }}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="sendAudioRecord(modal)"
    >
      Send audio
    </button>
  </div>
</ng-template>
<!-- document-modal -->
<ng-template #doc_list let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">List of documents</h4>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="list-docs custom-scroll mb-3">
      <div
        *ngFor="let doc of docs | async"
        class="doc-container d-flex align-items-center justify-content-start"
        (click)="openDoc(doc.id, modal)"
      >
        <img
          class="doc-img"
          src="../../../../../assets/img/gg-doc.png"
          alt=""
        />
        <div class="doc-desc d-flex flex-column">
          <p class="doc-name">{{ doc.docName }}</p>
          <div class="d-flex justify-content-center align-items-center">
            <p class="last-change">
              Last change:
              {{ doc.lastChange | dateDisplay }}&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="change-by">
              <fa-icon class="arrow-back" [icon]="faIcon.faUserEdit"></fa-icon
              >&nbsp;{{ doc.changeBy }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">Document name</span>
      <input
        [(ngModel)]="nameOfNewDoc"
        type="text"
        class="form-control"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="createDoc(modal)">
      Ok
    </button>
  </div>
</ng-template>
